<div class="row">
    {% for image in images %}
        <div class="col-sm-12 col-md-6">
            <img src="/images/{{ image }}" alt="..." class="img-thumbnail"/>
        </div>
    {% endfor %}
</div>