{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block main %}
    <h1>Welcome {{ name }}!</h1>
    <div style="background-image: linear-gradient(lightpink, lightblue)">
        <p class="lead">This cosmic dance of bursting decadence and withheld permissions twists all our arms
        collectively, but if sweetness can win? (and it can) then I'll still be here tomorrow
        to high five you yesterday, my friend. Peace.
        -The Old Royal Tart Toter</p>
    <h3>🅸🅲🅴</h3>
    </div>

{#    {{ dump() }}#}

{% endblock %}