{% extends 'base.html.twig' %}

{% block title %}Galeria zdjęć{% endblock %}

{% block body %}
    <h2>Witaj w galerii</h2>
    <br />

    {# wyświetlanie zdjęć jako galerii #}
    <div class="row">
        {% for image in images %}
            <div class="col-sm-6 col-md-4">
                <a href="{{ path('view') }}" class="thumbnail">
                    <img src="/images/{{ image }}" alt="..." class="img-thumbnail">
                </a>
            </div>
        {% endfor %}
    </div>

    {# paginator #}
    <div class="navigation">
        {{ knp_pagination_render(images) }}
    </div>

{% endblock %}