{% extends 'base.html.twig' %}

{% block title %}Nice!{% endblock %}

{% block body %}

   <!-- <img src="/images/{{ image }}" alt="..." class="img-thumbnail"> -->

    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Image name here</h1>
            <div class="img-thumbnail">
                <a href="images/{{ image }}">
                    <img src="/images/{{ image }}" alt="Image" class="img-thumbnail">
                </a>
                <div class="caption">
                    <h3>Caption</h3>
                    <ul>
                        <li>Tag 1</li>
                        <li>Tag 2</li>
                        <li>Tag 3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
