{# templates/emails/registration.html.twig #}
<h3>You did it! You registered!</h3>

Hi! You're successfully registered.
{# Hi {{ name }} #}

{# example, assuming you have a route named "login" #}

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
{#<img src="{{ absolute_url(asset('images/logo.png')) }}">#}